20250703T000818_HD182040-background.FIT
20250703T000818_HD182040-mask.png
20250707T200946_HD172051.FIT
background_subtraction.py
background_subtraction.py~
bk.png
config.yaml~
extraction.py~
fixheader.py~
main.py~
measure_column_shifts.py~
overscansubtract.py~
pixel_crosscorr.old.py
pixel_crosscorr.py~
.processed_master_dirs.txt
__pycache__
test.py
test.py~
testwavelengthsolution.py~
#trace_extraction.py#
trace_extraction.py~
trace.py~
wavelength_correction.py~

